{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
.list-group {
  list-style: none;
  padding: 0;

}
#listItem {
  padding: 5px 10px;
  /* background: #a2a8d3; */
  border: 1px solid #DDDDDD;
}
</style>

{% include 'partials/messages.html' %}

<div class="container">
  <div class = "contianer md-5">
    <!---include the side bar navigation here from the partials folder to this page--->
    {% include 'partials/sidebar.html' %}
    <div class="row" style="margin-top:15px;">
      <!---add a bootstrap breadcrum that will tell us where we are in the website expenses home page--->
      <div class = "col-md-10">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Income</a></li>
            <li class="breadcrumb-item"><a href="#">My Income</a></li>
          </ol>
        </nav>
      </div>

      <div class="col-md-2">
        <a href="{% url 'add_income'%}" class="btn btn-primary">Add Income</a>
      </div>
    </div>
  </div>

  <!---check if the user has expenses or not if yest then only show the table--->
  {% if income.count %}
  <!---searching expenses and showing it in this table format--->
  <div class="row mt-5">
    <div class="col-md-8">
      <p class = "noResult" style="display: none;">no result found</p>
    </div>

    <!---search field--->
    <div class="col-md-4">
      <!---all the links related to exporting expenses in prd, xcel and csv formats will be present here--->
      <a href="{% url 'export_csv_income' %}" class="btn btn-secondary">Export CSV</a>
      <a href="{% url 'export_excel_income' %}" class="btn btn-primary">Export EXCEL</a>

      <div class="form-group mt-3">
          <input class"form-control" type="text" id="searchField" placeholder="search"/>
      </div>
    </div>
  </div>

  <!---this table will show if the user has noting in the searchField--->
  <div class = "default-table" >
    <table class = "table table-stripped table-hover">
      <!---table head--->
      <thead>
        <tr>
          <th>Amount ({{currency}})</th>
          <th>Source</th>
          <th>Description</th>
          <th>Date</th>
          <th></th> <!---this will hold the edit buttons for our expenses--->
          <th></th> <!---this will hold the delete buttons for our expenses--->
        </tr>
      </thead>
      <!---table body--->
      <tbody>
        <!---instead of looping through the expenses here we should loop through the page_obj
        which will give the number of expenses defined in the paginator class per page--->
        {% for income in page_obj %}
        <tr>
          <td>{{income.amount}}</td>
          <td>{{income.source}}</td>
          <td>{{income.description}}</td>
          <td>{{income.date}}</td>
          <!--- url 'income_edit' income.id--->
          <td><a href="{%url 'income_edit' income.id%}" class = "btn btn-primary">Edit</a></td><!---this will hold the edit buttons for our expenses--->
          <!--- url 'income_delete' income.id--->
          <td><a href="{%url 'income_delete' income.id%}" class = "btn btn-danger">Delete</a></td><!---this will hold the edit buttons for our expenses--->
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

  <!---this table will show if the user tries to search expenses in the searchField--->
  <div class="table-output">
    <table class = "table table-stripped table-hover">
      <!---table head--->
      <thead>
        <tr>
          <th>Amount ({{currency}})</th>
          <th>Source</th>
          <th>Description</th>
          <th>Date</th>
          <th></th> <!---this will hold the edit buttons for our expenses--->
          <th></th> <!---this will hold the delete buttons for our expenses--->
        </tr>
      </thead>
      <!---table body--->
      <tbody class= "table-body">
          <!---show the contents of the search result in the table dynamically--->
      </tbody>
    </table>
  </div>

<div class = 'pagination-container'>
  <div class="">
    Showing page {{page_obj.number}} of {{ page_obj.paginator.num_pages }}
  </div>

  <div class ="float-right">
    <ul class="pagination align-right float-right mr-auto">
      {% if page_obj.has_previous %}
      <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif %}

      {% if page_obj.has_next %}
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
      {% endif %}
      </ul>
  </div>
</div>

  {% endif %}
</div>

<script src="{% static 'js/searchIncome.js' %}"></script>
{% endblock content %}
