{% extends "base_auth.html" %}
{% load static %}
{% block content %}
<!-- <div class="auth" >
<div class="card" style = "background-color: #d5e1df;">
  <div class="auth__header text-center">
    <a href="/">
      <img src="{% static 'images/profiles/wallet.png' %}" style="height: 100px; width: 100px;" alt="icon" />
    </a>
    <h3>Oops!</h3>
  </div>
  <div>
  <h2>Email verification failed!</h2>
  <div class="auth__actions">
    <a href="{% url 'register' %}">register your account with a different email address</a>
  </div>
</div>
</div>
</div> -->

<style>
.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
</style>

<div class="row" >
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">


      <div class="card-body">
        <div class="card-title py-3">
          <img src="{% static 'images/profiles/wallet.png' %}" class="image-center" />
          <h4 style="text-align: center;">Oops! Email verification failed!</h4>
        </div>

        <form action="" method="post">
          {% csrf_token %}

          {% include 'partials/messages.html' %}
          <h4 style="text-align: center;">Register your account with a different email address</h4>

          <input type="submit" value="Register" class="btn btn-block btn-primary submit-btn" href ="{% url 'register' %}" />
        </form>

      </div>

      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
{% endblock %}
