{% extends 'base_auth.html' %}
{% load static %}

{% block content %}
<style>
.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
</style>
<div class="row" >
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">


      <div class="card-body">
        <div class="card-title py-3">
          <image src = "{% static 'images/profiles/wallet.png' %}" class="image-center"></image>
          <h4 style="text-align: center;">Set a new password</h4>
        </div>

        <form action="{% url 'register' %}" method="post">
          {% csrf_token %}

          {% include 'partials/messages.html' %}
         <!---password field 1--->
          <div class="form-group" style="margin-top:15px;">
            <input
              type="password"
              name="password_1"
              placeholder="Password"
              class="form-control form-control-sm"
              id="passwordField"
              onkeyup='check();'
              style="margin-top:15px; margin-bottom:15px;"
            />
            <small class="float-right py-3 showPasswordToggle" style="margin-top:15px; margin-bottom:15px;">SHOW</small>
          </div>
          <span id='message'></span>
          <!---Password field 2--->
          <div class="form-group" style="margin-top:15px; margin-bottom:15px;">
            <input
              type="password"
              name="password_2"
              placeholder="Password"
              class="form-control form-control-sm"
              id="passwordField2"
              onkeyup='check();'
              style="margin-top:15px; margin-bottom:15px;"
            />
            <a href="{% url 'login' %}" style = "margin-top:15px; margin-bottom:15px;">Already have an account?</a>
          </div>

          <input type="submit" value="Confirm" class="btn btn-block btn-primary submit-btn" />
        </form>

      </div>

      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}
